<header class="site-header">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 col-12 d-flex flex-wrap">
                <p class="d-flex me-4 mb-0">
                    <img class="me-2" src="../assets/images/logo/logo_guru_white_it.png" alt="Logo guru" width="25" height="25">
                    <strong class="text-dark">Welcome to El Amir Vip Lounge</strong>
                </p>
            </div>

        </div>
    </div>
</header>