<div class="login-dark">
  <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
    <h4 class="sr-only text-center log-color">Login Admin</h4>
    <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="illustration">
      <i class="icon ion-ios-locked-outline"></i>
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="text"
        formControlName="username"
        placeholder="Username"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <div class="form-group text-center mtop20">
      <button class="btn custom-btn" type="submit">Log In</button>
    </div>
  </form>
</div>
