<section class="ticket-section section-padding">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-10 mx-auto">
        <form
          class="custom-form ticket-form mb-5 mb-lg-0"
        >
          <h2 class="text-center mb-4">Get started here</h2>

          <div class="ticket-form-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <input
                  type="text"
                  id="ticket-form-name"
                  class="form-control"
                  placeholder="Nome e Cognome"
                  formControlName="cliente_nome"
                  required
                />
              </div>

              <div class="col-lg-6 col-md-6 col-12">
                <input
                  type="email"
                  id="ticket-form-name"
                  class="form-control"
                  placeholder="Email"
                  formControlName="cliente_email"
                  required
                />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <input
                  type="tel"
                  class="form-control"
                  placeholder="Telefono"
                  formControlName="telefono"
                  required=""
                />
              </div>

              <div class="col-lg-6 col-md-6 col-12">
                <input
                type="number"
                id="ticket-form-number"
                class="form-control"
                placeholder="Numero di persone"
                formControlName="numero_persone"
                required
              />
              </div>
            </div>

            <h6>Scegli il tipo di tavolo</h6>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <div class="form-check form-control">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Diamond
                  </label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="form-check form-control">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Oro
                  </label>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-12">
                <div class="form-check form-control">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Standard
                  </label>
                </div>
              </div>
            </div>



            <div class="col-lg-4 col-md-10 col-8 mx-auto">
              <button type="submit" class="form-control">Prenota</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- <script>
  // Générer le code aléatoire
  var randomCode = generateRandomCode();

  // Sélectionner l'input caché par son ID
  var ticketFormCodeInput = document.getElementById("ticket-form-code");

  // Mettre à jour la valeur de l'input caché avec le code généré
  ticketFormCodeInput.value = randomCode;

  // Fonction pour générer un code aléatoire de 6 caractères en majuscules (lettres et chiffres)
  function generateRandomCode() {
    var characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    var code = "";
    for (var i = 0; i < 6; i++) {
      var randomIndex = Math.floor(Math.random() * characters.length);
      code += characters.charAt(randomIndex);
    }
    return code;
  }
</script> -->
